<div class="section color-{{ section.settings.color_scheme }} {{ section.settings.remove_padding_top | replace: 'true', 'section-top-zero' | replace: section.settings.remove_padding_top, '' }} {{ section.settings.remove_padding_bottom | replace: 'true', 'section-bottom-zero' | replace: section.settings.remove_padding_bottom, '' }} {% if section.settings.show_page_title == false and page.content == blank %}pb-0{% endif %}" data-ui-component="Main Page Section">
  <div class="ctnr">
    {% if section.settings.show_page_title %}
      {% render 'section-header',
        heading: page.title,
        content_align: 'ta-center'
      %}
    {% endif %}
    <div class="s-content m-auto rte" style="--w-md:10">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_page.name",
  "settings": [
    {
      "type": "header",
      "content": "t:general.settings.headers.header_general.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:general.settings.color_scheme.label",
      "default": "accent-1"
    },
    {
      "type": "checkbox",
      "id": "show_page_title",
      "label": "t:sections.main_page.settings.show_page_title.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:general.settings.headers.header_layout.content"
    },
    {
      "type": "checkbox",
      "id": "remove_padding_top",
      "label": "t:general.settings.remove_padding_top.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "remove_padding_bottom",
      "label": "t:general.settings.remove_padding_bottom.label",
      "default": false
    }
  ]
}
{% endschema %}
